<h3>Movie JSON</h3>
<table class="table table-striped">
  <thead>
    <th>Movie Name</th>
    <th>Release Date</th>
  </thead>
  <tbody id="movie-list">
    <tr>
      <td>Terminator</td>
      <td>September 13, 1983</td>
    </tr>
  </tbody>
</table>
<br>
<h3>Review JSON</h3>
<table class="table table-striped">
  <thead>
    <th>Reviewer Name</th>
    <th>Title</th>
    <th>Text</th>
    <th>Review Date</th>
    <th>Movie ID</th>
  </thead>
  <tbody id="review-list">
    <tr>
      <td>Sven</td>
      <td>A Most Pompous Review</td>
      <td>dfjkldhfkljshljkhwehfiquhfioushdfljkshdfihqweoifuhsdjkffhwuifhwelfjkefsd</td>
      <td>September 8th, 2015</td>
      <td>1</td>
    </tr>
  </tbody>
</table>