<div>
  <h3>Create a Movie</h3>
  <%= form_for @movie do |movie_field| %>
    <%= movie_field.label :name %>
    <%= movie_field.text_field :name, id:"movie_name" %>
    <br>
    <%= movie_field.submit id: "movie-submit"%>
  <% end %>
</div>
<hr>
<h3>Movie JSON</h3>
<table class="table table-striped">
  <thead>
    <th>Movie Name</th>
    <th>Release Date</th>
  </thead>
  <tbody id="movie-list">

  </tbody>
</table>